<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:aop="http://www.springframework.org/schema/aop"
             xmlns:tx="http://www.springframework.org/schema/tx"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                     http://www.springframework.org/schema/context
                     http://www.springframework.org/schema/context/spring-context-3.0.xsd
                     http://www.springframework.org/schema/aop
                     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                     http://www.springframework.org/schema/tx
                     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
	<!-- DAO -->
	<bean id="userDao" class="com.lundui.manage.system.dao.UserDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="roleDao" class="com.lundui.manage.system.dao.RoleDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="userRoleDao" class="com.lundui.manage.system.dao.UserRoleDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="depotDao" class="com.lundui.manage.system.dao.DepotDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="resourceDao" class="com.lundui.manage.system.dao.ResourceDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="roleResourceDao" class="com.lundui.manage.system.dao.RoleResourceDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- Service -->
	<bean id="userManageService" class="com.lundui.manage.system.service.impl.UserManageServiceImpl"></bean>
	<bean id="roleManageService" class="com.lundui.manage.system.service.impl.RoleManageServiceImpl"></bean>
	<bean id="depotManageService" class="com.lundui.manage.system.service.impl.DepotManageServiceImpl"></bean>
	<bean id="alarmService" class="com.lundui.manage.system.service.impl.WheelAlarmServiceImpl"></bean>
	<!-- Action -->
	<bean id="roleManageAction" class="com.lundui.manage.system.action.RoleManageAction" scope="prototype">
		<property name="service" ref="roleManageService"></property>
	</bean>
	<bean id="userManageAction" class="com.lundui.manage.system.action.UserManageAction" scope="prototype">
		<property name="service" ref="userManageService"></property>
		<property name="roleService" ref="roleManageService"></property>
	</bean>
	<bean id="loginAction" class="com.lundui.manage.system.action.LoginAction" scope="prototype">
		<property name="service" ref="userManageService"></property>
	</bean>
	<bean id="depotAction" class="com.lundui.manage.system.action.DepotManageAction" scope="prototype">
		<property name="service" ref="depotManageService"></property>
	</bean>
	<bean id="alarmAction" class="com.lundui.manage.system.action.WheelAlarmAction" scope="prototype">
		<property name="service" ref="alarmService"></property>
	</bean>
	<bean id="wheelEditAction" class="com.lundui.manage.system.action.WheelEditAction" scope="prototype"></bean>
	<bean id="resourceAction" class="com.lundui.manage.system.action.ResourceAction" scope="prototype"></bean>
</beans>
